{% block footer %}    
    <!-- TODO: make footer sticky -->
    <footer class="container-fluid">
      <div class="container">
        <div class="row">
          
          {% block footer_block0 %}
          {% set SOCIAL_TITLE = SOCIAL_TITLE or 'Social' %}
          {% set LINKS_TITLE  = LINKS_TITLE  or 'Links'  %}
          {% for group_title, group_links in ((SOCIAL_TITLE, SOCIAL), (LINKS_TITLE, LINKS)) %}
            <div class="span2">
              {% if group_links %}
                <h5>{{ group_title }}</h5>
                <ul class="unstyled">
                {% for title, link in group_links %}
                  <li>{{ m.render_link_icon(link, title) }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
          {% endblock footer_block0 %}
            
          {% block footer_block1 %}
          <div class="span2">
            <h5>Browse content by</h5>
            <ul class="fa-ul">
              {% if CATEGORIES_SAVE_AS %}
                <li><a href="{{ SITEURL }}/{{ CATEGORIES_SAVE_AS }}"><i class="fa-li fa fa-tags"></i> Categories</a></li>
              {% endif %}
              {% if ARCHIVES_SAVE_AS %}
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}"><i class="fa-li fa fa-calendar"></i> Dates</a></li>
              {% endif %}
              {% if TAGS_SAVE_AS %}
                <li><a href="{{ SITEURL }}/{{ TAGS_SAVE_AS }}"><i class="fa-li fa fa-tag"></i> Tags</a></li>
              {% endif %}

              {% if TAG_FEED_ATOM and tag is defined %}
                <li><a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}"><i class="fa-li fa fa-rss"></i> Feed</a></li>
              {% elif TAG_FEED_RSS and tag is defined %}
                <li><a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}"><i class="fa-li fa fa-rss"></i> Feed</a></li>
              {% elif CATEGORY_FEED_ATOM and category is defined %}
                <li><a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}"><i class="fa-li fa fa-rss"></i> Feed</a></li>
              {% elif CATEGORY_FEED_RSS and category is defined %}
                <li><a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}"><i class="fa-li fa fa-rss"></i> Feed</a></li>
              {% elif FEED_ALL_ATOM %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"><i class="fa-li fa fa-rss"></i> Feed</a></li>
              {% elif FEED_ALL_RSS %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"><i class="fa-li fa fa-rss"></i> Feed</a></li>
              {% endif %}
            </ul>
          </div>
          {% endblock footer_block1 %}
          
          {% block footer_block2 %}
          <div class="span2 muted">
            <h5>Copyright notice</h5>
            {% set date_start = dates[-1].date.year if dates else None %}
            {% set date_end   = dates[0].date.year if dates else None %}
            <p>© Copyright {{ date_start if date_start }}{{ '-%s' % date_end if date_end and date_end != date_start }} {{ AUTHOR }}.</p>
            {% if COPYRIGHT %}
              <p>{{ COPYRIGHT }}</p>
            {% endif %}
          </div>
          {% endblock footer_block2 %}

          {% block footer_block3 %}
          <div class="span2 muted">
            <h5>Disclaimer</h5>
            {% if DISCLAIMER %}
              <p>{{ DISCLAIMER }}</p>
            {% else %}
              <p>All opinions expressed in this site are my own personal opinions and are not endorsed by, nor do they represent the opinions of my previous, current and future employers or any of its affiliates, partners or customers.</p>
            {% endif %}
          </div>
          {% endblock footer_block3 %}

          <div class="span2">
            <h5 class="pull-right"><a href="#" class="fa fa-arrow-up"> Back to top</a></h5>
          </div>

        </div>
      </div>
      
      {% block footer_credit %}
      <div class="container">
        <div class="row span12 muted text-center">
          Site generated by <a href="http://getpelican.com"> Pelican</a>.<br/>
          <a href="https://github.com/kdeldycke/plumage"> Plumage</a> theme by <a href="http://kevin.deldycke.com">Kevin Deldycke</a>.
        </div>
      </div>
      {% endblock footer_credit %}

    </footer>
{% endblock footer %} 
